<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuzzle</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a href="/game/"><h1 class="header-layout-text">Chuzzle</h1></a>
        </div>
    </header>
    <main>
        {%block content %} {% endblock%}
    </main>
</body>
</html>