body {
    margin: 0;
    height: 100vh;

}
button{
    background-color: lightgray;
}
form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h4 {
    margin: .5vh .5vw;
    text-decoration: underline;
}

h3 {
    margin-bottom: 0.5vh;
}

p {
    margin: .5vh .5vw;
}

header {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    height: 10vh;
}

input {
    height: 5vh;
    width: 25vw;
}

ul {
    width: 20vw;
}

li {
    margin: 3vh 0;
    font-size:2.5vh;
}

main {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(/ChessPieces/layoutBackground.jpg) ;
    background-size:cover;


}

h1 {
    margin: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .8);
    height: 10vh;
    font-style: italic;
}

aside {
    position: fixed;
    left: 0;
    top: 10vh;
    height: 80vh;
    width: 10vw;
    background: cornflowerblue;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.comment {
    border: black solid 1px;
    padding: .5vw;
    margin: .3vh 0;
    background-color: #CAE9F5;
    word-wrap: break-word;
}

.square {
    height: 100%;
    width: 100%;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background: whitesmoke;
    border: 2px solid black;
    border-radius: 3vw;
    box-shadow: .4vh .6vh grey;
    padding: 3vw;
    min-width: 40vw;
    min-height: 60vh;
    max-height: 64vh;
}

.home-button {
    width: 30vw;
    height: 10vh;
    border-radius: 3vh;
    margin: 2vh;
}

.login-container {
    width: 30vw;
    height: 30vh;
}

.main-container-plain {
    border: 2px solid black;
    padding: 3vw;
}

.flex-col-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.header-btn {
    margin: 0;
    height: 7vh;
    margin: 0 2vw;
    width: 10vw;
    border-radius: 2vw;
    box-shadow: 1px 2px grey;
}

.header-layout-text {
    position: absolute;
    top: 1.5%;
    left: 1%;
    font-size: 7vh;
    color: whitesmoke;
    text-shadow: 2px 4px navy;
}

.flex-row-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.form-input-submit {
    margin-top: 2vh;
    width: 100%;
}

.main-display {
    width: 80vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.hidden {
    display: none;
    height: 0;
    width: 0;
}
.info {
    height: 80%;
    width: 90%;
}
.menu-btn{
    height:8vh;
    width:16vh;
}
.menu-item {
    text-align: center;
    border: black solid 1px;
}

.piece-image {
    height: 100%;
    width: 100%;
    user-select: none;
}

.general-info-container {
    width: 25vw;
    height: 65vh;
}

#create-menu {
    height: 65vh;
    width: 85vw;
    display: flex;
    flex-flow: row nowrap;
    gap:4vh;
}

#comments-container {
    height: 65vh;
    width: 30vw;
    margin: 0 2vw;
}
.profile-display{
    height: 55vh;
    width:30vw;
    margin:0 3vw;
    border: 2px solid black;
    box-shadow: .4vh .6vh grey;
    overflow:scroll;
}

#comment-list-container {
    height: 45vh;
    border: 1px solid black;
    padding: .5vw;
}
#tactic-list-container{
    height: 45vh;
    width:25vw;
    border: 1px solid black;
    padding: .5vw;
}
.tactic-li{
    width:20vw;
    word-wrap: break-word;
}

#rules-list {
    width: 25vw;
    height: 65vh;
}

#option-list{
    width:16vh;
    height:65vh;
    display:grid;
    grid-template-columns: 16vh;
    grid-template-rows: repeat(8,8vh);
}

#menu-list {
    margin-top: 1px;
    display: grid;
    height: 65vh;
    width: 16vh;
    grid-template-rows: repeat(8, 8vh);
    grid-template-columns: 8vh 8vh;
    background-color: lightgray;
    user-select: none;
}

#success-btn {
    height: 10vh;
    width: 5vw;
    margin: 1vw;
    border-radius: .5vw;
    box-shadow: 1px 2px grey;
}

#board-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 64vh;
    width: 64vh;
    display: grid;
    grid-template-columns: repeat(8, 8vh);
    grid-template-rows: repeat(8, 8vh);
    border: black solid .5vh;
    user-select: none;
}

#menu-list div:nth-child(13) {
    grid-column: 1/2;
    grid-row: 7/8;
}

#eraser {
    grid-area: four;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.8vh;
    height: 16.6vh;
    font-size: 4vh;
}

.big-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.8vh;
    height: 16.6vh;
    font-size: 4vh;
}

#board-container-independent {
    height: 64vh;
    width: 64vh;
    display: grid;
    grid-template-columns: repeat(8, 8vh);
    grid-template-rows: repeat(8, 8vh);
    border: black solid .5vh;
    user-select: none;
}
#publish-btn{
    margin:0;
    height: 16.6vh;
    width:16vh;
}