{% layout 'layout.liquid' %}

{% block content%}


<div class="main-container flex-col-center">
    <a href="/game/tactic/user"><button class="home-button">Play User Puzzles</button></a><br/>
    <a href="/game/tactic/api"><button class="home-button">Play Online Puzzles</button></a><br/>
    <a href="/game/create"><button class="home-button">Create Your Own Puzzle!</button></a><br/>
    <a href="/game/standard"><button class="home-button">Chessboard</button></a><br/>
</div>

{%endblock%}
