
{% layout 'layout.liquid' %}

{% block content%}
<div class="main-container flex-row-center">
    
<div id="board-container-independent">

</div>

</div>
<script src="/boardLogic.js"></script>
{% endblock %}