<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuzzle</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1 style="position:absolute;top:1.5%;left:1%;font-size:7vh;">Chuzzle</h1>
        <a href="/users/profile"><h1 style="position:absolute;top:1.5%;right:1%;font-size:7vh;">Profile</h1></a>
    </header>

    <main>
        <aside>
            <h1 style="position:absolute;top:1%;">Navigation</h1>
               <!--  <a href="/game/standard-game">New Game</a> -->
                <a href="/game/tactic/user"><button>User Puzzle</button></a>
                <a href="/game/tactic/api"><button>Online Puzzle</button></a>
                <a href="/game/create"><button>Make your Own Puzzle</button></a>
        </aside>
        {%block content %} {% endblock%}
    </main>

    <footer>
    </footer>

</body>
</html>