
{% layout 'layout.liquid' %}

{%block content%}
<h1>Login Page</h1>
    <div class="container">
        <form action="/users/login" method="POST">
            Username:
            <input type="text" name="name" id="" placeholder="Username">
            Password:
            <input type="password" name="password" id="" placeholder="Password">
            <input type="submit" value="Log in">
        </form>
    </div>
    <div>
        Don't have an account? Sign up now!
        <a href="/users/signup"><button>Click to sign up</button></a>
    </div>

{% endblock %}

