{% layout 'layout.liquid'%}

{% block content %}


<div class="main-display">
    <div class="info-container">
        <h1>Games</h1>
        <div class="info">

        </div>
    </div>
    <div class="info-container">
    <h1>Tactics</h1>
    <div class="info">
            
    </div>
    </div>
    <div class="info-container">
    <h1>Comments</h1>
    <div class="info">
            
    </div>
    </div>
</div>


{% endblock %}