{% layout 'layout.liquid' %}

{% block content%}


<div id="create-menu">
    <div id="board-container-independent">

    </div>
    <div id="menu-list">
        <div class="menu-item"><img id="Q" src="/ChessPieces/whiteQueen.png" class="piece-image"></div>
        <div class="menu-item"><img id="q" src="/ChessPieces/blackQueen.png" class="piece-image"></div>
        <div class="menu-item"><img id="K" src="/ChessPieces/whiteKing.png" class="piece-image"></div>
        <div class="menu-item"><img id="k" src="/ChessPieces/blackKing.png" class="piece-image"></div>
        <div class="menu-item"><img id="R" src="/ChessPieces/whiteRook.png" class="piece-image"></div>
        <div class="menu-item"><img id="r" src="/ChessPieces/blackRook.png" class="piece-image"></div>
        <div class="menu-item"><img id="N" src="/ChessPieces/whiteKnight.png" class="piece-image"></div>
        <div class="menu-item"><img id="n" src="/ChessPieces/blackKnight.png" class="piece-image"></div>
        <div class="menu-item"><img id="B" src="/ChessPieces/whiteBishop.png" class="piece-image"></div>
        <div class="menu-item"><img id="b" src="/ChessPieces/blackBishop.png" class="piece-image"></div>
        <div class="menu-item"><img id="P" src="/ChessPieces/whitePawn.png" class="piece-image"></div>
        <div class="menu-item"><img id="p" src="/ChessPieces/blackPawn.png" class="piece-image"></div>
    </div>
    <div class="option-list">
        <div class="menu-option"><button>Start Recording Solution</button></div>
        <div class="menu-option"><button>End Recording Solution</button></div>
        <div class="menu-option"><button>Replay</button></div>
        <div class="menu-option"><button>Reset Board</button></div>
        <br />
        <div class="menu-option"><button>Publish!</button></div>
    </div>
</div>


<script src="/createLogic.js"></script>
{% endblock %}