
{% layout 'layout.liquid' %}

{% block content%}


<div id="board-container">

</div>

<div class="hidden">
    <div class="hidden" id="fen">{{fen}}</div>
    <div class="hidden" id="id">{{id}}</div>
    <div class="hidden" id="moves">{{moves}}</div>
</div>


<script src="/tacticLogic.js"></script>
{% endblock %}

